<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaohui.courier">

    <application
        android:name="com.xiaohui.courier.App"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xiaohui.courier.main.ActivityMany"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaohui.courier.widget.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaohui.courier.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiaohui.courier.main.SelectMarketActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".main.ActivityOpen"
            android:screenOrientation="portrait" />

    </application>

</manifest>
